@import "variables";

.video {
  width: 100%;
  background-color: $menuSide;
  border-radius: $roundedCorners;
}

.video-details {
  background-color: darken($bgColor, 4);
  border-radius: $roundedCorners;
  display: flex;
  border: 1px solid lighten($menuSide, 60);

  .video-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .details-text {
    padding: 4px 6px 0 10px;
    display: flex;


    .video-icons{

    }
  }
}

.creator-info {
  h2 {
  }

  span {
    color: $fontColorLighter;
  }
}

.gray-text{
  font-weight: 100;
  font-size: 13pt;
  color: lighten($menuSide,40);
}

.video-card {
  display: flex;
  font-size: 11pt;
  //background-color: darken($bgColor, 4);
  //border: 1px solid lighten($menuSide, 60);
  //border-radius: 8pt;
  margin-top: 8px;

  img {
    width: 34%;
    //border-top-left-radius: 8pt;
    //border-bottom-left-radius: 8pt;
    border-radius: $roundedCorners;
    height: 90px;
    cursor: pointer;
  }

  .creator-info {
    padding: 6px 0 0 8px;

    span {
      span {
        font-weight: 900;
        font-size: 12pt;
      }
    }

    div {
      background-color: #392a49;
      color: #f0ecef;
      font-weight: 100;
      padding: 2px 10px 2px 10px;
      border-radius: $roundedCorners;
      font-size: 9pt;
      margin-top: 4px;
      user-select: none;
    }
  }
}